<body class="skin-blue fixed-layout">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <%= render partial: "preloader"%>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <%= render partial: "mainwrapper" %>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <!-- <script src="./Content/assets/node_modules/jquery/jquery-3.2.1.min.js"></script> -->

  <!-- Bootstrap tether Core JavaScript -->
  <!-- <script src="./Content/assets/node_modules/popper/popper.min.js"></script> -->
  <!-- <script src="./Content/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->

  <!-- slimscrollbar scrollbar JavaScript -->
  <!-- <script src="./Content/theme/dist/js/perfect-scrollbar.jquery.min.js"></script> -->

  <!--Wave Effects -->
  <!-- <script src="./Content/theme/dist/js/waves.js"></script> -->
  <%= javascript_include_tag (javascript_path("waves.js")) , 'data-turbolinks-track': 'reload' %>

  <!--Menu sidebar -->
  <!-- <script src="./Content/theme/dist/js/sidebarmenu.js"></script> -->
  <%= javascript_include_tag (javascript_path("sidebarmenu.js")) , 'data-turbolinks-track': 'reload' %>
  <!--stickey kit -->
  <!-- <script src="./Content/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script> -->
  <%= javascript_include_tag (javascript_path("sticky-kit.min.js")) , 'data-turbolinks-track': 'reload' %>
  <!-- <script src="./Content/assets/node_modules/sparkline/jquery.sparkline.min.js"></script> -->
  <!--Custom JavaScript -->
  <!-- <script src="./Content/theme/dist/js/custom.min.js"></script> -->
  <%= javascript_include_tag (javascript_path("custom.min.js")) , 'data-turbolinks-track': 'reload' %>



</body>
